<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-section-title [sectionTitle]="'Featured Coworking Space'"></app-section-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-section-title [sectionTitle]="'Enterprise Coworking™ Our Trademark Says It All'"></app-section-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-section-title [sectionTitle]="'We’re On Mission To Transfer The Workplace.'"></app-section-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-section-title [sectionTitle]="'Your Satisfaction Is Our Priority!'"></app-section-title>
    </div>
  </div>
</div>