  <header class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
                  <a class="navbar-brand" href="#"><img src="assets/images/LogoWeb2.png" /></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                <h1 class="mb-5">Private <span class="highlgt">Offices</span> And Workspaces</h1>
                <p class="mt-3 hero-para">Grow your business in Hamilton with flexible offices and workspaces in a modern coworking environment built for small businesses and teams.</p>
            </div>
            <div class="col-6">
                <img src="assets/images/12938.png" class="hero-img">
            </div>
        </div>        
    </div>
    </header>